.button {
    display: inline-block;
    position: relative;
    padding: 10px 10px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 0;
    white-space: nowrap;
    letter-spacing: .9px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: 0.5s;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    &::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 0 0;
        border-color: #2791D3 transparent transparent transparent;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        z-index: -1;
    }

    &:hover::after,
    &:active::after,
    &:focus::after {
        border-width: 370px 370px 0 0;
    }

    &.secondary {
        color: #292929;
        background-color: transparent;
        border-color: #ffba00;

        &::before {
            background-color: #ffba00;
        }

        &::after {
            border-color: #4555b9 transparent transparent transparent;
        }

        &:hover, 
        &:focus, 
        &:active {
            color: #fff;
            background-color: transparent;
            border-color: #4555b9;
            text-decoration: none;
        }
    }

    &.button-white-outline {
        color: #fff;
        background-color: transparent;
        border-color: #fff;
    }
}