.page-footer {
  padding-top: 10px;

  background-color: $main-bg;

  h5 {
    color: #fff;
  }

  p {
    margin-top: 1rem;

    color: #b8b8b8;
  }

  .header-contacts-list {
    margin-top: 20px;
  }
}

.footer-info {
  padding-top: 40px;
  padding-bottom: 20px;

  @include media-breakpoint-up(lg) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.footer-block {
  margin-bottom: 60px;
}

.copyright {
  font-size: 12px;
  text-align: center;
}
