.services {
  padding: 25px 0;
  background-color: $main-bg;
  color: #ffffff;

  @include media-breakpoint-up(lg) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__item {
    margin-bottom: 30px;

    &:nth-child(1) {
      a {
        background-image: url("../images/dist/service1.jpg");
      }
    }
    &:nth-child(2) {
      a {
        background-image: url("../images/dist/service2.jpg");
      }
    }
    &:nth-child(3) {
      a {
        background-image: url("../images/dist/service3.jpg");
      }
    }
    &:nth-child(4) {
      a {
        background-image: url("../images/dist/service4.jpg");
      }
    }
    &:nth-child(5) {
      a {
        background-image: url("../images/dist/service5.jpg");
      }
    }
    &:nth-child(6) {
      a {
        background-image: url("../images/dist/service6.jpg");
      }
    }
    a {
      position: relative;
      z-index: 2;

      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 0;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      color: inherit;
      cursor: pointer;

      &::before {
        position: absolute;
        z-index: -1;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: rgba(0, 0, 0, 0.4);
      }

      &:hover {
        text-decoration: none;

        .services__icon {
          color: $red;
          transform: scale(1.3);
        }
      }

      @include media-breakpoint-up(lg) {
        padding: 97px 0;
      }

      h6 {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 20px;

        font-size: 18px;
        line-height: 1.4;
        font-weight: 700;
        text-align: center;
      }
    }
  }

  &__icon {
    padding: 15px;

    border-radius: 50%;
    transition: 0.35s ease;
    color: $gray-dark;
    background-color: rgba(255, 255, 255, 0.5);
    svg {
      font-size: 56px;
      min-width: 56px;
      height: 56px;
      width: 56px;
      line-height: 56px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin: 30px 0;

    .button {
      justify-content: center;
    }
    .button + .button {
      margin-top: 20px;
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      justify-content: center;

      .button + .button {
        margin-left: 20px;
        margin-top: 0;
      }
    }
  }
}
